@import "tailwindcss";

@theme {
  --color-tinkerbellcyan: #121063;
  --color-tinkerbellyellow: #fad247;
  --color-tinkerbellblue: #0287af;
  --color-tinkerbellblue-50: #0ea5e9;
  --color-tinkerbellteal-100: #0087ac;
  --color-darkNav: #212830;
  --color-darkBg: #151b23;
  --color-darkBorder: #30363d;
  --color-darkBorderSoft: #21262d;
}